.postContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 10px;
}
@media (max-width: 1400px) {
    .postContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
}
.loadingBar{
    height: 50px;
    text-align: center;
}
