.container {
    width: auto;
    padding: 0 30px;
    height: 100dvh;
}

.topSectionWrapper {
    display: flex;
    width: 100%;
    height: 170px;
}
.topSection{
    width: calc(100dvw - 77px);
    position: fixed;
    display: flex;
    background: white;
    padding-top: 30px;
    z-index: 20;
}
.topSectionWhiteArea{
    display: flex;
    width: 100%;
    background: red;
    padding: 10px;
}
.topSectionFixed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    height: 120px;
}
.recipeTypeWrapper{
    display: flex;
    margin-top: 10px;
    gap: 10px;
}
.bottomSectionWrapper {
    width: 100%;
    /*height: 100dvh;*/
    margin-top: 10px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

