.recipeDetailWrapper{
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
}
.imgWrapper{
    /*flex-grow: 1;*/
    position: relative;
    width: 45dvw;
    height: 100%;
}
.i{
    object-fit: contain;
}
.stepTitle{
    width: 100%;
    display: flex;
    justify-content: start;
    font-size: 36px;
}
.textWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55dvw;
}
.recipeStep{
    width: 100%;
    font-family: 'Ownglyph_meetme-Rg', sans-serif;
    font-size: 36px;
    line-height: 48px;
    white-space: pre-wrap;
}
@media (max-width: 1600px) {
    .recipeStep{
        width: 100%;
        font-family: 'Ownglyph_meetme-Rg', sans-serif;
        font-size: 24px;
        line-height: 36px;
        white-space: pre-wrap;
    }
}
